*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
   
    
}
*::-webkit-scrollbar {
    display: none;
} 

/* Container NAV */
.container{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.containerNav{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLogoINAED{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.mainmenubtn{
    background-color: #4E8CC7;
    color: white;
    border: none;
    border-radius: 20px 0px 20px 0px;
    cursor: pointer;
    padding: 12px;
    box-shadow: 0 8px 32px 0 rgba( 126, 47, 139, 0.60 );
    font-size: 17px;
  
}

.mainmenubtn:hover{
    background-color: #4E8CC7;
   
    
    
}

.dropdown{
    position: relative;
    display: inline-block;
    
   
}

.dropdown_child{
    display: none;
    background-color: #4E8CC7;
    min-width: 50px;
    border-radius: 20px 0px 20px 0px;
}

.dropdown_child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
    border-radius: 20px 0px 20px 0px;
    
    

}

.dropdown_child a:hover{
    border-bottom: 1px white solid;
}

.dropdown_child a:nth-child(2):hover{
    border-bottom: 1px white solid;
}

.dropdown:hover .dropdown_child{
    display: block;
    margin-top: 120px;
    box-shadow: 0 8px 32px 0 rgba( 126, 47, 139, 0.60 );    
}


.img{
    width: 15%;
    height: 15%;
    margin-right: 15%;
    border-radius: 50%;
    
}

.img:hover{
    cursor: pointer;
    width: 19%;
  
}

.containerLinks{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerother{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.containerother li{
    margin-right: 30px;
    padding: 10px;
    background-color: #4E8CC7;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 8px 32px 0 rgba( 126, 47, 139, 0.60 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1   px solid rgba( 138, 196, 232, 0.18  );
    cursor: pointer;
    color: white;
    font-size: 17px;
    
}

.containerother li:hover{
    border-bottom: 1px solid white;
}

/* Container Sobrenos*/

.superContainerSobreNos{
    width: 100%;
    height: 84.3%;
    display: flex;
    margin-bottom: 100px;
    
}

.sobreNos{
    width:50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 50px;
    
}

.sobreNos h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #8AC4E8;
}

.sobreNos p{
    font-size: 20px;
    color: white;
}

.containerFotoConsultorInaed{
    width: 50%;
    height: 100%;
}

.imgConsultor{
    width: 65%;
    height: 100%;
    margin-right: 200px;

}

.containerButton{
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: 20px;
}

.containerButton1{
    width: 50%;
    height: 100%;
    border-radius:30px 30px 30px 30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    background-color: #8AC4E8;
    box-shadow: 0 8px 32px 0 rgba( 126, 47, 139, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 194, 149, 193, 0.18 );
    cursor: pointer;
}

.containerButton1:hover{
    border: 1px solid #7E2F8B;
    background-color: #8AC4E8;
}
.containerButton2:hover{
    border: 1px solid #014e97;
}


.containerButton2{
    width: 50%;
    height: 100%;
    border-radius:30px 30px 30px 30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 126, 47, 139, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    background: linear-gradient(90deg, rgba(194,148,193,1) 0%, rgba(126,47,139,1) 100%);
    cursor: pointer;
}

.bola{
    width: 100px;
    height: 100%;
    background: rgb(254,91,81);
    background: linear-gradient(90deg, rgba(127,48,139,1) 0%, rgba(194,149,193,1) 100%);
    border-radius: 20px 20px 0px 0px;
    margin-top: 5px;
}




.icon{
    position: fixed;
    color: #C294C1;
    font-size: 50px;
    top: 50%;
    right: 5%;
    cursor: pointer;
}

.icon:hover{
    
    font-size: 60px;
}

