.container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.carrosel{
    width: 80%; 
    height: 100%;
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.carrosel .item {
    width: 100%;
    height: 100%;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item h1{
    margin: -20px 0px -190px 0px;
    color: #8AC4E8;
    text-align: center;
}

.containerItem{
    width: 100%;
    height: 100%;
    display: flex;
}

.conteudo1{
    width: 50%;
    
}


.img{
    width: 20rem;
    height:50rem;
}

.conteudo2{
    width: 50%;
}

.buttoniconlast{
    width: 3rem;
    height: 3rem;
    padding: 10px;
    font-size: 10px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    border: 1px solid black;
    background-color: #7E2F8B;
    border-radius: 10px 10px 10px 10px;
}
.buttoniconlast:hover{
    padding: 5px;
    border: 1px solid #85BDE0;
}

.buttoniconright{
    width: 3rem;
    height: 3rem;
    padding: 10px;
    font-size: 10px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    background-color: #7E2F8B;
    border-radius: 10px 10px 10px 10px;
}

.buttoniconright:hover{
    padding: 5px;
    border: 1px solid #85BDE0;
}
